.text-area{
  resize: none;
  font-size: 20px;
  margin-top: 20px;
}

.submit-button{
  position: absolute;
  font-size: 24px;
  padding: 15px;
  margin-top: 40px;
  margin-left: 20px;
  background-color: crimson;
  color: whitesmoke;

}
.todo-id{
  margin-top: 30px;
  position: absolute;
}
.todo-lists{
  margin-top: 30px;
  margin-left: 18px;
  position: relative;
}
.list-number{
  margin: 10px;
}