.home-div{
  background-color: aquamarine;
  padding: 40px;
}
.about-div{
  background-color: bisque;
  padding: 40px;
}
.contact-div{
  background-color:beige;
  padding: 40px;
}
.btn{
  margin-left: 10px;
  background-color:chartreuse;
}
.div-inline{
  display: inline;
  float: right;
}