body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.bg {
  background-color: #7D8035;
  color: white;
  font-size: 20px;
}

.logo {
  height: 50px;
  width: 60px;
  margin-left: 20px;
}

.container-data {
  margin: 4% 0% 0% 18%;
  padding: 10px 10px 10px 10px;
}

.Card-style {
  width: 18rem;
  margin: 0px 20px 20px 0px;
  height: 550px;
}

.search-pro {
  background-color: #E87334;
  color: white;
  margin: 0px 20px 0px 0px;
  border-radius: 12px;
}

.Product-search {
  border-radius: 5px;
}

.shopping {
  margin: 0px 10px 0px 10px;
}

.help-icon {
  margin: 0px 10px 0px 10px;
}

.shop-button {
  position: absolute;
  bottom: 0;
  background-color: #7D8035;
  width: 80%
}

.rating-start {
  background-color: #E87334;
  position: absolute;
  padding: 5px;
  border-radius: 8px;
  right: 5px;
  color: whitesmoke;
}

.price-tag {
  position: absolute;
  bottom: 5%;
  padding-left: 30%;
}

.title-text {
  position: absolute;
  text-align: center;
  bottom: 12%;
}

.images {
  position: absolute;
  height: 350px;
  padding-top: 20px;
}

.desc-image {
  margin-top: 30%;
}

.desc-decription {
  margin-top: 5%;
  margin-left: 20%;
  /* background-color: #7D8035; */
}

.desc-detail {
  /* text-align: center; */
  margin-top: 12%;
  margin-left: 50%;
  font-weight: 500;
}

.desc-price {
  margin-top: 10%;
  margin-left: 50%;
}

.add-to-cart {
  margin-top: 10%;
  margin-left: 40%;
  padding: 10px;
  background-color: #E87334;
  border-color: #E87334;
}

.add-to-cart:hover {
  background-color: #7D8035;
  border-color: darkgreen;
}

.buy-now {
  margin-top: 10%;
  margin-left: 5%;
  padding: 10px;
  background-color: #E87334;
  border-color: #E87334;
}

.buy-now:hover {
  background-color: #7D8035;
  border-color: darkgreen;
}

a {
  margin-left: 10px;
}

a:link {
  text-decoration: none;
}

a:visited {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #4e4f32;
  text-decoration: none;
}

a:active {
  color: #4e4f32;
  text-decoration: none;
}