body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main{
  border: solid black 2px;
  margin-top: 5px;
  height: 300px;
}
.show-data{
  text-align: center;
  margin-top: 10px;
  font-size: larger;
}
.input-data{
  margin: 100px 0px 0px 250px;
  width: 400px;
  height: 60px;
}
.submit-button{
  height: 50px;;
  width: 90px;
  background-color: red;
  color: azure;
  font-size: 20px;
  margin: 20px;
  border-radius: 5px;
  border-color: burlywood;
}