.header {
  margin-left: 38%;
  color: #69b1db;
  margin-top: 50px;
  font-size: 50px;
}

.no-file{
  margin-left: 46%;
  font-size: 30px;
  color: #1746A2;
  background-color: #81C6E8;
  border: 5px solid #81C6E8;
  border-radius: 15px;

}
