.header {
    font-size: 60px;
    padding-left: 42%;
}

.App {
    display: grid;
    margin-top: 60px;
    border: solid 2px gainsboro;
    padding: 15px;
    /* margin-left: 34%; */
    /* position: fixed; */
}

.display {
    font-family: digital-7;
    background-color: #a2bbcf;
    border: solid 2px black;
}

.display-num {
    display: grid;
    font-size: 100px;
    margin-bottom: 30px;
    margin-top: 2%;
    float: right;
    margin-right: 4%;
}

.number-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1px;
    margin-top: 5px;
}

.number-buttons:focus {
    background-color: #142f44;
}

.number-buttons {
    padding: 15px 72px 15px 72px;
    font-size: 60px;
    background-color: #205b7a;
    border-color: whitesmoke;
    color: whitesmoke;
}

.clear-button {
    display: grid;
    background-color: #1d3849;
    /* margin-top: 34%; */
    margin-left: 54%;
    font-size: 50px;
    color: whitesmoke;
}

.clear-button:focus {
    background-color: rgb(176, 53, 53);
}

.calculate-button {
    position: absolute;
    display: grid;
    background-color: #1d3849;
    /* margin-top: 34%; */
    margin-left: 38%;
    font-size: 50px;
    color: whitesmoke;
}

.calculate-button:focus {
    background-color: green;
}