.header {
  position: absolute;
  font-size: 50px;
  padding-left: 38%;
}

.App {
  position: absolute;
  margin-top: 100px;
  border: solid 2px gainsboro;
  padding: 15px;
  margin-right: 39%;
  margin-left: 30%;
}

.display {
  position: absolute;
  background-color: aqua;
  border: solid 2px black;
  padding: 10px 42px 10px 400px;
  font-size: 100px;
}

.one {
  position: relative;
  margin-top: 140px;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.two {
  position: relative;
  margin-top: 140px;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.three {
  position: relative;
  margin-top: 140px;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.four {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;

}

.five {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.six {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.seven {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.eight {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.nine {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.zero {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.plus {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: bisque;
  border-color: bisque;
}

.minus {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 81px 15px 80px;
  background-color: bisque;
  border-color: bisque;
}