.header {
  position: absolute;
  font-size: 60px;
  padding-left: 38%;

}

.App {
  position: absolute;
  margin-top: 100px;
  border: solid 2px gainsboro;
  padding: 15px;
  margin-right: 39%;
  margin-left: 30%;
}

.display {
  font-family: digital-7;
  position: absolute;
  background-color: #a2bbcf;
  border: solid 2px black;
  padding: 25px 42px 54px 419px;
  font-size: 100px;
}

.one {
  position: relative;
  margin-top: 140px;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.one:focus {
  background-color: #142f44;
}

.two {
  position: relative;
  margin-top: 140px;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.two:focus {
  background-color: #142f44;
}

.three {
  position: relative;
  margin-top: 140px;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.three:focus {
  background-color: #142f44;
}

.four {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;

}

.four:focus {
  background-color: #142f44;
}

.five {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.five:focus {
  background-color: #142f44;
}

.six {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.six:focus {
  background-color: #142f44;
}

.seven {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.seven:focus {
  background-color: #142f44;
}

.eight {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.eight:focus {
  background-color: #142f44;
}

.nine {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.nine:focus {
  background-color: #142f44;
}

.zero {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.zero:focus {
  background-color: #142f44;
}

.plus {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.plus:focus {
  background-color: #142f44;
}

.minus {
  position: relative;
  margin-left: 1px;
  font-size: 60px;
  padding: 15px 81px 15px 80px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.minus:focus {
  background-color: #142f44;
}

.calculate {
  position: absolute;
  background-color: #1d3849;
  margin-top: 37%;
  margin-left: 39%;
  font-size: 50px;
  color: whitesmoke;
}

.calculate:focus {
  background-color: green;
}