.header {
  position: absolute;
  font-size: 60px;
  padding-left: 38%;

}

.App {
  position: absolute;
  margin-top: 100px;
  border: solid 2px gainsboro;
  padding: 15px;
  margin-right: 39%;
  margin-left: 30%;
}

.display {
  font-family: digital-7;
  position: absolute;
  background-color: #a2bbcf;
  border: solid 2px black;
  padding: 26px 42px 54px 415px;
  font-size: 100px;
}

.zero:focus,
.one:focus,
.two:focus,
.three:focus,
.four:focus,
.five:focus,
.six:focus,
.seven:focus,
.eight:focus,
.nine:focus {
  background-color: #142f44;
}

.one {
  position: relative;
  margin-top: 140px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.two {
  position: relative;
  margin-top: 140px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}


.three {
  position: relative;
  margin-top: 140px;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}


.four {
  position: relative;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;

}


.five {
  position: relative;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}



.six {
  position: relative;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.seven {
  position: relative;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}



.eight {
  position: relative;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}


.nine {
  position: relative;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.zero {
  position: relative;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}


.plus {
  position: relative;
  font-size: 60px;
  padding: 15px 74px 15px 74px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.plus:focus {
  background-color: #142f44;
}

.minus {
  position: relative;
  font-size: 60px;
  padding: 15px 81px 15px 80px;
  background-color: #205b7a;
  border-color: whitesmoke;
  color: whitesmoke;
}

.minus:focus {
  background-color: #142f44;
}

.calculate {
  position: absolute;
  background-color: #1d3849;
  margin-top: 37%;
  margin-left: 34%;
  font-size: 50px;
  color: whitesmoke;
}

.calculate:focus {
  background-color: green;
}

.clear {
  position: absolute;
  background-color: #1d3849;
  margin-top: 37%;
  margin-left: 48%;
  font-size: 50px;
  color: whitesmoke;
}

.clear:focus {
  background-color: rgb(176, 53, 53);
  color: black;
}